@page "/about"

<MudContainer Class="mt-16">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">About</MudText>
    <MudText Align="Align.Center">Trabalho elaborado no âmbito de cenas lindas e paneleiras da disciplina ISI...</MudText>
    <MudGrid Class="mt-8">
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudItem>
                            <MudAvatar Image="images/emanuel.jpg" Style="height: auto; width: auto;" />
                        </MudItem>
                        <MudText Typo="Typo.h5" Align="Align.Center">Emanuel Carvalho</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h5">8820</MudText>
                    </div>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudGrid Justify="Justify.Center">
                        <MudButton Link="https://www.linkedin.com/in/ejcc88"
                                   Target="_blank"
                                   Variant="Variant.Text"
                                   EndIcon="@Icons.Custom.Brands.LinkedIn"
                                   Size="Size.Large"
                                   Color="Color.Inherit"
                                   Style="text-transform:none">
                            LinkedIn
                        </MudButton>
                    </MudGrid>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudAvatar Image="images/joel.jpg" Style="height: auto; width: auto;" />
                        <MudText Typo="Typo.h5" Align="Align.Center">Joel Martins</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h5">17439</MudText>
                    </div>

                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudGrid Justify="Justify.Center">
                        <MudButton Link="https://www.linkedin.com/in/joelm-artins"
                                   Target="_blank"
                                   Variant="Variant.Text"
                                   EndIcon="@Icons.Custom.Brands.LinkedIn"
                                   Size="Size.Large"
                                   Color="Color.Inherit"
                                   Style="text-transform:none">
                            LinkedIn
                        </MudButton>
                    </MudGrid>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudAvatar Image="images/joao.jpg" Style="height: auto; width: auto;" />
                        <MudText Typo="Typo.h5" Align="Align.Center">João Veloso</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h5">17729</MudText>
                    </div>

                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudGrid Justify="Justify.Center">
                        <MudButton Link="https://www.linkedin.com/in/joaongveloso"
                                   Target="_blank"
                                   Variant="Variant.Text"
                                   EndIcon="@Icons.Custom.Brands.LinkedIn"
                                   Size="Size.Large"
                                   Color="Color.Inherit"
                                   Style="text-transform:none">
                            LinkedIn
                        </MudButton>
                    </MudGrid>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>